/* ExperienceProjects.css */

.experience-projects {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item {
  margin-bottom: 20px;
}

.experience-item h3 {
  color: #98142a;
}

.experience-item p {
  font-weight: bold;
}

.experience-item ul {
  list-style: disc;
  margin-left: 20px;
}

.popup-summary {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
