/* Footer.css */

#footer {
    background-color: #d7a4c8; /* Dark background color */
    color: #fff; /* Text color */
    padding: 30px 0; /* Padding top and bottom */
    text-align: center; /* Center-align text */
  }
  
  #footer h2 {
    margin-bottom: 20px; /* Space below heading */
    text-align: center;
  }
  
  #footer ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
    text-align: center;
  }
  
  #footer ul li {
    margin-bottom: 10px; /* Space between list items */
    text-align: center;
  }
  
  #footer ul li a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
    text-align: center;
  }
  
  #footer ul li a:hover {
    color: #ffc107; /* Hover color */
  }
  