.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  color: white;
  text-align: center;
  overflow: hidden;
  /*background-color: #6a0dad; */
}

.hero .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

.hero .container {
  z-index: 1;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 4em; 
}


.photo-container {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid white;
}

.profile-photo {
  width: 250px;
  height: 300px;
  transition: transform 0.3s ease-in-out;
}

.profile-photo:hover {
  transform: scale(1.1);
}

  